# Убираем папки в которых будет лишний собранный мусор для репозитория.
## В этой папке желательно создовать файлы каждому пользователю отдельно.
/build/html-minifier-next/*
/build/oneFile/*

# Убираем личные и мусорные проекты для репозитория.
/posts/*
## Для наглядности оставляем папку `post` чтобы через него понять как работает проект.
!/posts/post/

# Убираем мусорные `Python` файлы, которые ну нужны в репозиторий.
*.pyc
__pycache__/